name: API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-api:
    runs-on: ubuntu-latest
    
    services:
      mongo:
        image: mongo:latest
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand({ping: 1})'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Start flask
      env:
        MONGO_HOST: localhost
        PYTHONPATH: .
      run: |
        # Uruchomienie Flaska jako moduł z ustawioną ścieżką
        python3 -m flask --app app/api.py run &
        # Czekamy 10 sekund, aż serwer i baza będą gotowe
        sleep 10
        
    - name: Execute API tests
      env:
        PYTHONPATH: .
      run: |
        python3 -m pytest tests/api

    - name: Execute BDD tests
      env:
        PYTHONPATH: .
      run: |
        behave