name: Performance Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-perf:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Start flask
      run: |
        export FLASK_APP=app/api.py
        export FLASK_ENV=development
        export PYTHONPATH=$GITHUB_WORKSPACE
        flask run &
        sleep 5 # Czekamy chwilę, aż serwer wstanie
        
    - name: Execute Performance tests
      run: |
        python3 -m pytest tests/perf